/* 共通レイアウト */
.users-wrapper {
  padding-top: 40px;
}

.users-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* index.html.erb */

.users-index-box {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #666;
  width: 60%;
  margin: 0 auto;
}

.users-index-text {
  padding: 20px 10px;
  display: block;
  border-top: 1px solid #ccc;
}

.users-index-text > a{
  color: #222;
}

/* show.html.erb */

.users-show-box {
  width: 80%;
  height: 300px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #666;
  margin: 0 auto;
  position: relative;
}

.users-show-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.users-show-detail {
  margin-bottom: 10px;
}

.users-show-destroy-button {
  position: absolute;
  bottom: 15%;
  right: 25%;
  margin-top: 50px;
}

.users-show-destroy-button a {
  color: #555;
}

.return-text {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.return-text > a {
  color: #555;
}

/* new.html.erb */

.form {
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #666;
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.error-message {
  text-align: left;
  margin-bottom: 10px;
  color: #ee0000;
}

.users-new-element {
  margin-bottom: 15px;
  font-size: 18px;
}

.users-new-input {
  width: 60%;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.submit-button {
  display: block;
  margin: auto;
  border: 1px solid #ccc;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  background-color: #e6b422;
  padding: 10px 30px;
  margin-top: 30px;
  cursor: pointer;
}